
/* OPEN ROOT */
:root{
    /* COLORS */
    --primary-color:#a0c293;
    --secondary-color:#967bb6;
    --accent-color1:black;
    --accent-color2:white;
    /* FONTS */
    --primary-font:'Oswald', sans-serif;
    --secondary-font:'Roboto', sans-serif;
    --special-font: 'Parisienne', cursive;
}
/* CLOSE ROOT */

/* OPEN GENERAL RULES */
a, h1 {
    font-family: var(--primary-font);
}
.header a:hover{
    background-color: var(--primary-color);
    border-radius: 10px;
    color: var(--accent-color2) !important;
}
/* CLOSE GENERAL RULES */

/* OPEN HEADER RULES */
header{
    border-bottom: var(--primary-color) 6px solid;
}
.header--nav{
    @media (max-width:991px) {
        /* border: 2px solid red; */
        text-align: center;
    }
}
.header--nav--div a{
    color: var(--primary-color) !important;
    font-size: 25px;
}
.toggled--menu--button{
    background-color: var(--primary-color);
    width: 50px;
    height: 50px;
}
.header--nav--div, .contact--button--div{
    margin: 70px 0;
}
.logo--div img{
    display: block;
    margin: 0 auto;
    filter: invert(61%) sepia(37%) saturate(1288%) hue-rotate(221deg) brightness(87%) contrast(88%);
    @media (min-width:991px) { 
        width: 300px;
    }
}
.contact--button--div a{
    font-size: 25px;
    background-color: var(--primary-color);
    color: var(--accent-color2);
    padding:10px 20px;

    @media (max-width:991px) {
        width: 80%;
    }
}

/* CLOSE HEADER */
/* OPEN MAIN */
/* OPEN HERO SECTION */
.main{
    margin-top:25px;
}
.hero--img{
    width: 518px;
}
.main h1{
    font-size: 75px;
    color: var(--primary-color);
}
.hero--snippet{
    font-family: var(--secondary-font);
    font-size: 22px;
}
/* CLOSE HERO SECTION */
/* OPEN QUOTE 1 */
.quote--container{
    background-color: var(--primary-color);
    color: var(--accent-color2);
    margin-top:25px;
}
.quote--main--text{
    margin: 0 auto;
    font-size: 30px;
    font-family: var(--primary-font);
    width: 85%;
}
.quote--subtext{
    font-size: 40px;
    font-style: italic;
    font-family: var(--secondary-font);
}
.quote--author{
    font-size: 22px;
    font-family: var(--primary-font);
}
/* CLOSE QUOTE 1 */
/* OPEN ABOUT ME */
.about--me--container{
    margin-top: 25px;
}
.about--me--title{
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 200px;
    color: var(--primary-color);
    transform: rotate(-90deg);
    margin-top: 290px;
    /* THIS IS FOR MOBILE SIZE */
    @media (max-width:991px) { 
        transform: rotate(0deg);
        font-size: 100px;
        margin: 0;
        text-align: center;
    }
}
.about--me--name{
    font-family: var(--special-font);
    font-size: 125px;
    margin-top: -295px;
    margin-left: 80px;
    transform: rotate(-90deg);
    @media (max-width:991px) { 
        transform: rotate(0deg);
        font-size: 63px;
        margin-top: -100px;
        margin-left: 150px;
    }
}
.about--me--content--div h2{
    font-family: var(--primary-font);
    color: var(--secondary-color);
    font-size: 40px;

}
.about--me--content--div a{
    background-color: var(--primary-color);
    color: var(--accent-color2);
    padding: 10px 20px;
    font-size: 22px;
    @media (max-width:991px) { 
        margin-bottom: 10px;
        width: 80%;
    
    }
}
/* CLOSE ABOUT ME  */
/* OPEN SKILLS CONTAINER */
.skills--container{
    margin-top: 25px;
    background-color: var(--secondary-color);
    padding: 25px 0 80px 0;
    /* padding-top: 25px; */
}
.skills--svg{
    color: var(--accent-color2);
    display: block;
    margin: 0 auto;
}
.skills--imgs{
    padding: 90px 10px 90px 0;
    @media (max-width:991px) { 
        padding: 0;
        margin-top: 15px;
    }
}

.skills--imgs h3{
    color: var(--accent-color2);
    background-color: var(--accent-color1);
    font-family: var(--primary-font);
    margin-top: 10px;
}
.skills--imgs p{
    font-family: var(--secondary-font);
    color: var(--accent-color2);
    font-size:18px;
}

.skills--title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 200px;
    color: var(--accent-color2);
    transform: rotate(90deg);
    @media (max-width:991px) { 
        transform: rotate(0deg);
        font-size: 100px;
        /* margin: 0; */
        text-align: center;
    }
}

.skills--name{
    font-family: var(--special-font);
    font-size: 50px;
    transform: rotate(90deg);
    margin-top: -295px;
    font-weight: bold;
    margin-right: 175px;
    @media (max-width:991px) { 
        transform: rotate(0deg);
        font-size: 25px;
        margin-top: -100px;
        text-align: center;
        /* margin-left: 150px; */
    }
}
.portfolio--button {
    background-color: var(--primary-color);
    color: var(--accent-color2);
    padding: 10px 20px;
    font-size: 22px;
    width:200px;
}
/* CLOSE SKILLS CONTAINER */

/* PORTFOLIO */
.card {
    @media (max-width:991px) { 
        /* padding: 0; */
        margin: 15px auto 0;

    }
}

.portfolio--header--container p{
    font-family: var(--secondary-font);
    font-size: 22px;
    /* border: 2px solid red; */
}
.portfolio--container--card{
    margin-top: 15px;
}
h5{
    color: var(--secondary-color);
}

.portfolio--container a{
    background-color: var(--secondary-color);
    border: none;
}
.portfolio--container a:hover{
    background-color: var(--primary-color);
}
/* CLOSE PORTFOLIO */
/* FOOTER */
.footer p{
    color: var(--primary-color);
    font-size: 24px;
}

.footer a{
    color: var(--secondary-color);
}
/* CLOSE FOOTER */